<html>

<head>
  <style>
    body {
      font-family: 'Georjia';
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/list">글 목록 보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fri">친구 글 보기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>